[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
fastapi = "*"
pydantic = "*"
SQLAlchemy = "==1.4.0b1"
python-dotenv = "*"
databases = "*"
alembic = "*"
asyncpg = "*"
psycopg2 = "*"
pydantic-sqlalchemy = "*"
httpx-oauth = "*"
setuptools = "*"
fastapi-users = "*"
fastapi-mail = "*"
pendulum = "*"
uvicorn = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
aiofiles = "*"
fastapi-utils = "*"
pytest-asyncio = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-postgresql = "*"
pytest-asyncio = "*"
faker = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
