{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}

<!-- Include Date Range Picker -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<!-- <script src="{{ url_for('static', filename='transaction_adaptation_functions.js') }}"></script>
<script src="{{ url_for('static', filename='calendar_date_change.js') }}"></script>
<script src="{{ url_for('static', filename='tooltip.js') }}"></script> -->
{% endblock %}

{% block app_content %}
<div class="pt-3">
  <table class="table table-hover table-condensed table-bordered" id="table">
    <caption>
        <h3>Test</h3>
      <!-- <div class="row">
        <div class="col-sm-4">
          <div class="btn-group" role="group">
            <input onkeydown="return false" class="previous btn" id="change_date_input" name="change_date_input"value={{current_date_view}} type="button"/>
            <form class="form" method="post" role="form" id="change_date">
              {{ forms["change_date"].hidden_tag() }}
            </form>
            <a class="previous btn" href="{{ url_for('overview.previous_month') }}" data-placement="bottom"
              title="Previous month" data-toggle="tooltip">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="previous btn" href="{{ url_for('overview.next_month') }}" data-placement="bottom"
              title="Next month" data-toggle="tooltip">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>{{current_date_view}}</h3>
        </div>
      </div> -->
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
        <th scope="col">Occurance</th>
        <th scope="col"></th>
        <th scope="col">Amout</th>
        <th scope="col">
          <span data-toggle="modal" data-target="#AddNewPrognosisModal">
            <a type="button" class="btn btn-sm btn-primary" data-placement="bottom" title="Add" data-toggle="tooltip">
              <span class="fa fa-plus"></span>
            </a>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for prognosis in prognoses %}
      {% if prognosis.incoming %}
      <tr class="bg-success">
        {% else %}
      <tr class="bg-danger">
        {% endif %}

        <th scope="row">{{ loop.index }}</th>
        <td> {{ prognosis.fdate }} </td>
        <td> {{ prognosis.comment }} </td>
        <td> {{ prognosis.occurance_type }} </td>
        <td>
          {% if prognosis.incoming %}
          <span class="fa fa-arrow-left"></span>
          {% else %}
          <span class="fa fa-arrow-right"></span>
          {% endif %}
        </td>
        <td> {{ prognosis.amount }} </td>
        <td>
          <!-- <span data-toggle="modal" data-target="#EditPrognosisModal">
            <a type="button" class="btn btn-sm btn-outline-dark" data-placement="bottom" title="Remove"
              data-toggle="tooltip" onclick='obtain_transaction_info("{{prognosis | safe}}");'>
              <span class="fa fa-edit"></span>
            </a>
          </span>
          <span data-toggle="modal" data-target="#RemovePrognosisModal">
            <a type="button" class="btn btn-sm btn-outline-dark" data-placement="bottom" title="Remove"
              data-toggle="tooltip" onclick='remove_transaction("{{prognosis.id | safe}}");'>
              <span class="fa fa-remove"></span>
            </a>
          </span> -->
        </td>
      </tr>

      {% endfor %}
      {% if prognoses %}
      <tr id={{ total }}>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  <!-- Add new Tranaction Modal -->
  <div class="modal fade" id="AddNewPrognosisModal" tabindex="-1" role="dialog"
    aria-labelledby="AddNewPrognosisModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="AddNewPrognosisModalTitle">Add new Prognosis</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form form-basic" method="post" role="form" id="add_new_form">
            {{ forms["add_transaction"].hidden_tag() }}
            {{ wtf.form_field(forms["add_prognosis"].date, id="add_new_form_date")}}
            {{ wtf.form_field(forms["add_prognosis"].amount, id="add_new_form_amount") }}
            {{ wtf.form_field(forms["add_prognosis"].comment, id="add_new_form_comment") }}
            {{ wtf.form_field(forms["add_prognosis"].occurance_type, id="add_new_form_occurance_type") }}
            {{ wtf.form_field(forms["add_prognosis"].incoming, id="add_new_form_incoming") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="add_new_form" class="btn btn-primary">Add Prognosis</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}