{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "index" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}


{% block app_content %}

  <div>
    <div class="container">
      <br class="my-1">
      <h3>
          Current balance: &euro; {{ line_data["current_balance"] }}
      </h3>
      <hr class="my-4">
    </div>
  
    <div>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <canvas height="300" id="line_plot"></canvas>
        </div>
        <div class="col-sm-4">
          <canvas height="200" id="doughnut_plot_incoming"></canvas>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-8">
          <canvas id="bar_plot"></canvas>
        </div>
        <div class="col-sm-4">
          <canvas height="200" id="doughnut_plot_outgoing"></canvas>
        </div>
      </div>
    </div>
  </div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@latest/dist/chartjs-plugin-colorschemes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
  <script src="{{ url_for('static', filename='plots.js') }}"></script>
  <script type="text/javascript">
    make_line_plot("line_plot", {{ line_data | safe }});
    make_bar_plot("bar_plot",  {{ bar_data | safe }});
    make_doughnut_plot("doughnut_plot_incoming", {{ donut_data["incoming"] }}, {{ donut_data["labels"] | safe }}, "Incoming Transactions");
    make_doughnut_plot("doughnut_plot_outgoing", {{ donut_data["outgoing"] }}, {{ donut_data["labels"] | safe }}, "Outgoing Transactions");
  </script>
{% endblock %}
