{% extends 'bootstrap/base.html' %}

{% set navigation_bar = [
    ('home.index', 'index', 'Home'),
    ('overview.monthly_overview', 'monthly_overview', 'Overview'),
    ('prognosis.yearly_overview', 'yearly_overview', 'Prognosis'),
    ('tax.tax', 'tax', 'Taxes')
] -%}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='navbar.js') }}"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Personal Finance Tool {% else %} Welcome to Personal Finance Tool {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="container-fluid navbar navbar-dark bg-primary navbar-expand-sm justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home.index') }}">Personal Finance Tool</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    {% for href, id, caption in navigation_bar %}
                    {% if not current_user.is_anonymous %}
                        <li {% if id == active_page %} 
                                class="active nav-item"
                            {% else %}
                                class="nav-item"
                            {% endif %}>
                            <a class="nav-link" href="{{ url_for(href) }}">{{ caption }}</a>
                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger" role="alert">
                {% elif category == 'success' %}
                <div class="alert alert-success" role="alert">
                {% else %}
                <div class="alert alert-info" role="alert">
                {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
