{% extends 'bootstrap/base.html' %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='navbar.js') }}"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Personal Finance Tool {% else %} Welcome to Personal Finance Tool {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="container-fluid navbar navbar-dark bg-primary navbar-expand-sm justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home.index') }}">Personal Finance Tool</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% if not current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('overview.monthly_overview') }}">Monthly Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('tax.tax') }}">Calculate Net Wage</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
