{% extends "base.html" %}

{% block content %}
    <h1>New transaction</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=64) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment(size=32) }}<br>
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.incoming() }} {{ form.incoming.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
