{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>New transaction</h1>
    <form class="form form-basic" method="post" role="form" id="edit_form">
        {{ wtf.form_field(form.date)}}
        {{ wtf.form_field(form.price) }}
        {{ wtf.form_field(form.comment) }}
        {{ wtf.form_field(form.category) }}
        {{ wtf.form_field(form.incoming) }}
        <button type="submit" form="edit_form" class="btn btn-primary">Add Transaction</button>
    </form>
    
{% endblock %}