{% extends "base.html" %}

<!-- {% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %} -->


{% block app_content %}
<h1>Hi, {{ current_user.username }}!</h1>

<nav aria-label="Page navigation example">
  <ul class="pager justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{{ url_for('previous_month') }}">&#60;&#60;</a>
    </li>
    <li class="page-item"><a class="page-link" href=""> {{ current_date_view }} </a></li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('next_month') }}"> &#62;&#62; </a>
    </li>
  </ul>
</nav>

<table class="table table-hover" id="incoming">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr id={{ transaction.id }}>
      <th scope="row">{{ loop.index }}</th>
      <td> {{ transaction.date }} </td>
      <td> {{ transaction.price }} </td>
      {% if transaction.incoming %}
      <td> &#8592; </td>
      {% else %}
      <td> &#8594; </td>
      {% endif %}
      <td> {{ transaction.comment }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
