{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}


{% block app_content %}
  <div>
    <div class="row">
      <div class="column_left">
        <canvas id="line_plot"></canvas>
      </div>
      <div class="column_right">
        <canvas id="doughnut_plot_incoming"></canvas>
      </div>
    </div>
    <div class="row">

      <div class="column_left">
        <canvas id="bar_plot"></canvas>
      </div>

      <div class="column_right">
        <canvas id="doughnut_plot_outgoing"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@latest/dist/chartjs-plugin-colorschemes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.0"></script>
  <script src="{{ url_for('static', filename='plots.js') }}"></script>
  <script type="text/javascript">
    make_line_plot("line_plot", {{ overall_data}}, {{labels | safe}});
    make_bar_plot("bar_plot",  {{ incoming_data }}, {{ outgoing_data }}, {{ labels_bar | safe}});
    make_doughnut_plot("doughnut_plot_incoming", {{incoming_data}});
    make_doughnut_plot("doughnut_plot_outgoing", {{outgoing_data}});
  </script>
{% endblock %}
