{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block app_content %}


<nav aria-label="Page navigation example">
  <ul class="pager justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{{ url_for('previous_month') }}">&#60;&#60;</a>
    </li>
    <li class="page-item"><a class="page-link" href=""> {{ current_date_view }} </a></li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('next_month') }}"> &#62;&#62; </a>
    </li>
  </ul>
</nav>

<table class="table table-hover table-condensed" id="incoming">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Comment</th>
      <th scope="col"></th>
      <th scope="col">Price</th>
      <th scope="col">test</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    {% if transaction.incoming %}
    <tr class="bg-success">
      <th scope="row">{{ loop.index }}</th>
      <td> {{ transaction.date }} </td>
      <td> {{ transaction.comment }} </td>
      <td> &#8592; </td>
      <td> {{ transaction.price }} </td>
      <td> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        onclick='obtain_transaction_info("{{transaction | safe}}");'>
          edit
        </button>
      </td>
    </tr>
    {% else %}
    <tr class="bg-danger" >
      <th scope="row">{{ loop.index }}</th>
      <td > {{ transaction.date }} </td>
      <td > {{ transaction.comment }} </td>
      <td> &#8594; </td>
      <td > {{ transaction.price }} </td>
      <td> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
        onclick='obtain_transaction_info("{{transaction | safe}}");'>
          edit
        </button>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% if transactions %}
    <tr id={{ total }}>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td> {{ balance }} </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Transaction</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="form form-basic" method="post" role="form">
            {{ edit_transaction_form.hidden_tag() }}
            {{ wtf.form_field(edit_transaction_form.transaction_id, id="edit_form_transaction_id") }}
            {{ wtf.form_field(edit_transaction_form.date, id="edit_form_date")}}
            {{ wtf.form_field(edit_transaction_form.price, id="edit_form_price") }}
            {{ wtf.form_field(edit_transaction_form.comment, id="edit_form_comment") }}
            {{ wtf.form_field(edit_transaction_form.category, id="edit_form_category") }}
            {{ wtf.form_field(edit_transaction_form.incoming, id="edit_form_incoming") }}
            {{ edit_transaction_form.submit() }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  function parse_transaction(transaction) {
    function to_object(kv_pairs) {
      var obj = {};
      for (var i = 0; i < kv_pairs.length; i++) {
        obj[kv_pairs[i][0]] = kv_pairs[i][1];
      }
      return obj;
    }

    function get_key_value(value, index, array) {
      var kv = value.split(":")
      return [kv[0].trim(), kv[1].trim()];
    }



    transaction = transaction.slice(1, transaction.length - 1);
    var objects = transaction.split(",");
    var kv_pairs = objects.map(get_key_value);
    return to_object(kv_pairs);
  }


  function obtain_transaction_info(transaction) {
    console.log(transaction);
    var tr = parse_transaction(transaction);
    var transaction_id_field_element = document.getElementById("edit_form_transaction_id");
    var date_field_element = document.getElementById("edit_form_date");
    var comment_field_element = document.getElementById("edit_form_comment");
    var price_field_element = document.getElementById("edit_form_price");
    var category_field_element = document.getElementById("edit_form_category");
    // var incoming_field_element = document.getElementById("edit_form_incoming");
    console.log(tr.id);
    transaction_id_field_element.value = parseInt(tr.id, 10);
    date_field_element.value = tr.date;
    price_field_element.value = tr.price;
    comment_field_element.value = tr.comment;
    // incoming_field_element.checked = true;
    category_field_element.value = tr.type;

    var transaction_id_field_element = document.getElementById("edit_form_transaction_id");
    console.log(transaction_id_field_element.value);
  }
</script>


{% endblock %}
