{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}

<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="{{ url_for('static', filename='transaction_adaptation_functions.js') }}"></script>
<script src="{{ url_for('static', filename='calendar_date_change.js') }}"></script>
{% endblock %}

{% block app_content %}

<nav aria-label="Page navigation example">
  <ul class="pager justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{{ url_for('previous_month') }}">&#60;&#60;</a>
    </li>
    <li class="page-item">
      <a>
        <input onkeydown="return false" class="form-control" id="change_date_input" name="change_date_input" value={{current_date_view}} type="text"/>
        <form class="form form-basic" method="post" role="form" id="change_date">
            {{ change_date_form.hidden_tag() }}
        </form>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('next_month') }}"> &#62;&#62; </a>
    </li>
  </ul>
</nav>



<button type="button" class="btn" data-toggle="modal" data-target="#AddNewTransactionModal">
  New Transaction
</button>

<table class="table table-hover table-condensed" id="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Comment</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    {% if transaction.incoming %}
    <tr class="bg-success">
    {% else %}
    <tr class="bg-danger">
    {% endif %}

      <th scope="row">{{ loop.index }}</th>
      <td> {{ transaction.date }} </td>
      <td> {{ transaction.comment }} </td>
      <td> {{ transaction.category }} </td>
      <td>
      {% if transaction.incoming %}
        <span class="glyphicon glyphicon-arrow-left"></span>
      {% else %}
        <span class="glyphicon glyphicon-arrow-right"></span>
      {% endif %}
      </td>
      <td> {{ transaction.price }} </td>
      <td>
        <button type="button" class="btn button_invisibe" data-toggle="modal" data-target="#EditTransactionModal"
          onclick='obtain_transaction_info("{{transaction | safe}}");'>
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn button_invisibe" data-toggle="modal" data-target="#RemoveTransactionModal"
          onclick='remove_transaction("{{transaction.id | safe}}");'>
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>

    {% endfor %}
    {% if transactions %}
    <tr id={{ total }}>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> {{ balance }} </td>
      <td></td>
    </tr>
    {% endif %}
  </tbody>
</table>


<!-- Add new Tranaction Modal -->
<div class="modal fade" id="AddNewTransactionModal" tabindex="-1" role="dialog"
  aria-labelledby="AddNewTransactionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="AddNewTransactionModalTitle">Add new Transaction</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form form-basic" method="post" role="form" id="add_new_form">
          {{ add_new_transaction_form.hidden_tag()}}
          {{ wtf.form_field(add_new_transaction_form.date, id="add_new_form_date")}}
          {{ wtf.form_field(add_new_transaction_form.price, id="add_new_form_price") }}
          {{ wtf.form_field(add_new_transaction_form.comment, id="add_new_form_comment") }}
          {{ wtf.form_field(add_new_transaction_form.category, id="add_new_form_category") }}
          {{ wtf.form_field(add_new_transaction_form.incoming, id="add_new_form_incoming") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="add_new_form" class="btn btn-primary">Add Transaction</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Tranaction Modal -->
<div class="modal fade" id="EditTransactionModal" tabindex="-1" role="dialog"
  aria-labelledby="EditTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="EditTransactionModalTitle">Edit Transaction</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form form-basic" method="post" role="form" id="edit_form">
          {{ edit_transaction_form.hidden_tag() }}
          {{ wtf.form_field(edit_transaction_form.date, id="edit_form_date")}}
          {{ wtf.form_field(edit_transaction_form.price, id="edit_form_price") }}
          {{ wtf.form_field(edit_transaction_form.comment, id="edit_form_comment") }}
          {{ wtf.form_field(edit_transaction_form.category, id="edit_form_category") }}
          {{ wtf.form_field(edit_transaction_form.incoming, id="edit_form_incoming") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="edit_form" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Remove Tranaction Modal -->
<div class="modal fade" id="RemoveTransactionModal" tabindex="-1" role="dialog"
  aria-labelledby="RemoveTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="RemoveTransactionModalTitle">Do you want to remove this transaction?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form form-basic" method="post" role="form" id="remove_form">
          {{ remove_transaction_form.hidden_tag() }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="remove_form" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}